.input {
  margin-left: 20px;
  padding: 5px;
  border-radius: 3px;
  outline-color: #5c5ff1;
  box-sizing: border-box;

  &__item {
    display: block;
    margin-bottom: 10px;
    text-align: right;
  }

  &__invalid {
    box-shadow: inset 0px 0px 0px 1px rgb(238, 44, 44);
    outline-color: rgba(238, 44, 44, 0.5);
  }
}