  .reset {
    &-popup {
      position: fixed;
      left: 50%;
      top: 20%;
      transform: translate(-50%);
      width: 25%;
      max-width: 500px;
      background-color: #fff;
      border-radius: 3px;
      padding: 20px;
    }
    &-buttons {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &-title {
      margin-bottom: 20px;
    }
  }

@media(max-width: 600px) {
  .reset-popup {
    width: 90%;
  }
}