.button {
  $current-color: #fff;
  margin: 10px auto 0 auto;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  &:hover {
    background-color: darken($color: $current-color, $amount: 15%);
  }
  &[disabled] {
    color: darken($color: $current-color, $amount: 25%);
    border-color: lighten($color: #ccc, $amount: 10%);
    &[disabled]:hover {
      color: darken($color: $current-color, $amount: 25%);
      border-color: lighten($color: #ccc, $amount: 10%);
      background-color: $current-color;
      cursor: not-allowed;
    }
  }

  &__signin {
    margin-left: 5px;
  }

  &__signup {
    margin-left: 20px;
  }
  }
  