.error {
  width: 100%;
  line-height: 3em;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  background-color: rgb(255, 117, 117);
  left: 0;
  top: 0%;
}