.text {
  font-size: 1.7em;
  line-height: 2em;
  margin: 0;
}

.subtext {
  margin-bottom: 5%;
}

.counter {
  font-size: 2em;
  margin: 40px 0 0;
}

@media (max-width: 500px) {
  .text {
    font-size: 1.3em;
  }
}