.nav-panel {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}

.nav-link {
    width: auto;
    margin: 0 20px;
    font-size: 16px;
    color: #5c5ff1;
    text-decoration: none;
    border-bottom: 1px solid #5c5ff1;

    &__active {
        color: #000000;
        border-bottom: none;
    }
}

@media (max-width: 800px) {
    .nav-panel {
        text-align: center;
        margin-bottom: 20px;
    }
}