@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/RobotoMedium.woff") format("woff");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/RobotoBold.woff") format("woff");
}

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/RobotoLight.woff") format("woff");
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: RobotoMedium, Arial, sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
}

input {
  border: 1px solid #888;
}